TechMart/src/wsdl/localhost_8080/TechMartWebServices/CustomerServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://techmartwebservices.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://techmartwebservices.mycompany.com/" name="CustomerServices">
<types>
<xsd:schema>
<xsd:import namespace="http://techmartwebservices.mycompany.com/" schemaLocation="http://localhost:8080/TechMartWebServices/CustomerServices?xsd=1"/>
</xsd:schema>
</types>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<message name="addOrder">
<part name="parameters" element="tns:addOrder"/>
</message>
<message name="addOrderResponse">
<part name="parameters" element="tns:addOrderResponse"/>
</message>
<message name="viewOrder">
<part name="parameters" element="tns:viewOrder"/>
</message>
<message name="viewOrderResponse">
<part name="parameters" element="tns:viewOrderResponse"/>
</message>
<message name="cancelOrder">
<part name="parameters" element="tns:cancelOrder"/>
</message>
<message name="cancelOrderResponse">
<part name="parameters" element="tns:cancelOrderResponse"/>
</message>
<message name="payOrder">
<part name="parameters" element="tns:payOrder"/>
</message>
<message name="payOrderResponse">
<part name="parameters" element="tns:payOrderResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="CustomerServices">
<operation name="loginUser">
<input wsam:Action="http://techmartwebservices.mycompany.com/CustomerServices/loginUserRequest" message="tns:loginUser"/>
<output wsam:Action="http://techmartwebservices.mycompany.com/CustomerServices/loginUserResponse" message="tns:loginUserResponse"/>
</operation>
<operation name="addOrder">
<input wsam:Action="http://techmartwebservices.mycompany.com/CustomerServices/addOrderRequest" message="tns:addOrder"/>
<output wsam:Action="http://techmartwebservices.mycompany.com/CustomerServices/addOrderResponse" message="tns:addOrderResponse"/>
</operation>
<operation name="viewOrder">
<input wsam:Action="http://techmartwebservices.mycompany.com/CustomerServices/viewOrderRequest" message="tns:viewOrder"/>
<output wsam:Action="http://techmartwebservices.mycompany.com/CustomerServices/viewOrderResponse" message="tns:viewOrderResponse"/>
</operation>
<operation name="cancelOrder">
<input wsam:Action="http://techmartwebservices.mycompany.com/CustomerServices/cancelOrderRequest" message="tns:cancelOrder"/>
<output wsam:Action="http://techmartwebservices.mycompany.com/CustomerServices/cancelOrderResponse" message="tns:cancelOrderResponse"/>
</operation>
<operation name="payOrder">
<input wsam:Action="http://techmartwebservices.mycompany.com/CustomerServices/payOrderRequest" message="tns:payOrder"/>
<output wsam:Action="http://techmartwebservices.mycompany.com/CustomerServices/payOrderResponse" message="tns:payOrderResponse"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://techmartwebservices.mycompany.com/CustomerServices/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://techmartwebservices.mycompany.com/CustomerServices/createUserResponse" message="tns:createUserResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://techmartwebservices.mycompany.com/CustomerServices/helloRequest" message="tns:hello"/>
<output wsam:Action="http://techmartwebservices.mycompany.com/CustomerServices/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="CustomerServicesPortBinding" type="tns:CustomerServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="loginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="payOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerServices">
<port name="CustomerServicesPort" binding="tns:CustomerServicesPortBinding">
<soap:address location="http://localhost:8080/TechMartWebServices/CustomerServices"/>
</port>
</service>
</definitions>