TechMart/src/wsdl/localhost_8080/TechMartWebServices/SupplierServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://techmartwebservices.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://techmartwebservices.mycompany.com/" name="SupplierServices">
<types>
<xsd:schema>
<xsd:import namespace="http://techmartwebservices.mycompany.com/" schemaLocation="http://localhost:8080/TechMartWebServices/SupplierServices?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="addStock">
<part name="parameters" element="tns:addStock"/>
</message>
<message name="addStockResponse">
<part name="parameters" element="tns:addStockResponse"/>
</message>
<message name="getStockRequests">
<part name="parameters" element="tns:getStockRequests"/>
</message>
<message name="getStockRequestsResponse">
<part name="parameters" element="tns:getStockRequestsResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="SupplierServices">
<operation name="login">
<input wsam:Action="http://techmartwebservices.mycompany.com/SupplierServices/loginRequest" message="tns:login"/>
<output wsam:Action="http://techmartwebservices.mycompany.com/SupplierServices/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="addStock">
<input wsam:Action="http://techmartwebservices.mycompany.com/SupplierServices/addStockRequest" message="tns:addStock"/>
<output wsam:Action="http://techmartwebservices.mycompany.com/SupplierServices/addStockResponse" message="tns:addStockResponse"/>
</operation>
<operation name="getStockRequests">
<input wsam:Action="http://techmartwebservices.mycompany.com/SupplierServices/getStockRequestsRequest" message="tns:getStockRequests"/>
<output wsam:Action="http://techmartwebservices.mycompany.com/SupplierServices/getStockRequestsResponse" message="tns:getStockRequestsResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://techmartwebservices.mycompany.com/SupplierServices/helloRequest" message="tns:hello"/>
<output wsam:Action="http://techmartwebservices.mycompany.com/SupplierServices/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="SupplierServicesPortBinding" type="tns:SupplierServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStockRequests">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SupplierServices">
<port name="SupplierServicesPort" binding="tns:SupplierServicesPortBinding">
<soap:address location="http://localhost:8080/TechMartWebServices/SupplierServices"/>
</port>
</service>
</definitions>